<div>
  <table style="width: 100%;">
    <tr>
      <th>UserId</th>
      <th>Title</th>
      <th>Description</th>
      <th>isDone</th>
    </tr>
    <tr *ngFor="let task of tasks" class="prop">
      <td>{{ task.userId }}</td>
      <td [style.color] = "getColor(task.isDone)">{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.isDone | taskState:task.isDone}}</td>
      <a [routerLink]="['/task', task.id]">Edit</a>
      <a [routerLink]="" (click)="deleteTask(task.id)">Delete</a>
    </tr>
  </table>
  <button [routerLink]="['/task']">Create</button>
</div>
