<div>
  <table style="width: 100%;">
    <tr>
      <th>UserId</th>
      <th>Title</th>
      <th>Description</th>
      <th>isDone</th>
    </tr>
    <tr *ngFor="let task of tasks" class="prop">
      <td> {{ task.userId }} </td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td *ngIf="task.isDone == true"><span class='done'>Выполнено!</span></td>
      <td *ngIf="task.isDone == false"><span class='undone'>Не выполнено!</span></td>
      <a [routerLink]="['/task', task.id]">Edit</a>
      <a [routerLink]="" (click)="deleteTask(task.id)">Delete</a>
    </tr>
  </table>
  <button [routerLink]="['/task']">Create</button>
</div>
